@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.body {
    background: linear-gradient(rgb(248, 247, 247), #9e9e9e);
    width: 100vw;
    height: 100vh; 
}

.header-div {
    padding: 5% 5%;
}

.logo{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    max-width: min-content;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1px 15px;
}

.enter-form {
    font-family: 'Roboto';
    font-style: normal;
    margin: auto;
    padding: 15px;
    background-color: #e8e8e8;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

.btn-outline-secondary {
    float: right;
}
